#modal-login{
    position: relative;
    background-color: #d54c4c;
    color: #cf0909;
    font-size: 3rem;
    font-weight: bold;
    text-align:center;

    margin:10% auto;
    
    border-radius: .375rem;
    width:100%;
}

#modal-login::backdrop{
    background-color: rgba(0,0,0,0.8);
}

.modal__close{
    position:absolute;
    top:0;
    right: 0;
    color:#cf0909;
    cursor:pointer;
    display:block;
    font-size: 2.5rem;
    width: 4.8%;
    border-radius: 50%;

}

.modal__close::before{
    content:"X";
}